# Normalize line endings
* text=auto

# Exclude from Asset Library download
.gitattributes export-ignore
.gitignore export-ignore
.gdignore export-ignore
README.md export-ignore
CHANGELOG.md export-ignore
LICENSE export-ignore
icon.png export-ignore
screenshots/ export-ignore
screenshots/** export-ignore